/* @property --light-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #f5f5f7;
}

@property --container-padding-inline {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
} */

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  /* max-inline-size: 100%; */
}

:root {
  --light-color: #f5f5f7;
  --darck-color: #221f20;
  --container-padding-inline: 13%;
  --footer-padding-inline: 10%;
  @media screen and (max-width: 768px) {
    --container-padding-inline: 6%;
    --footer-padding-inline: 6%;
  }

  @media screen and (max-width: 576px) {
    --container-padding-inline: 15px;
    --footer-padding-inline: 15px;
  }
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.container {
  padding: 0 var(--container-padding-inline);
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: var(--darck-color);

  span {
    position: relative;
  }
  span::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;

    width: 75px;
    height: 2px;
    background-color: #000;
  }
  @media screen and (max-width: 768px) {
    font-size: 36px;
  }

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.promo {
  position: relative;
  min-height: 100vh;
  background: url(../img/main_bg.jpg) center center / cover no-repeat;
  padding-top: 75px;
  @media screen and (max-width: 768px) {
    & {
      background-image: url(../img/rose-6921170_1920\ 1.png);
    }
  }
  @media screen and (max-width: 576px) {
    min-height: 500px;
    padding-top: 50px;
  }
}

.promo__title {
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  color: var(--light-color);
  @media screen and (max-width: 768px) {
    font-size: 48px;
  }

  @media screen and (max-width: 576px) {
    font-size: 26px;
  }
}

.promo__subtitle {
  margin-top: 124px;
  font-weight: 100;
  font-size: 32px;
  color: var(--light-color);

  @media screen and (max-width: 768px) {
    & {
      margin-top: 80px;
    }
  }
  @media screen and (max-width: 576px) {
    margin-top: 30px;
    font-size: 16px;
  }
}

.btn {
  margin-top: 20px;
  padding: 3px 10px;
  width: 160px;
  min-height: 38px;
  background: rgba(217, 217, 217, 0);
  border: 1px solid var(--light-color);
  cursor: pointer;
  font-weight: 100;
  font-size: 16px;
  color: var(--light-color);
  transition: all 0.3s ease-out;

  @media screen and (max-width: 576px) {
    font-size: 14px;
    width: 160px;
    min-height: 30px;
  }
}

.btn:hover {
  box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);

  font-weight: 500;
}

.promo__address {
  position: relative;
  margin-top: 100px;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  color: var(--light-color);
  address {
    font-style: normal;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -45px;
    top: -17px;
    width: 40px;
    height: 49px;
    background: url(../icons/arrow.svg) center center / cover no-repeat;
  }
  @media screen and (max-width: 768px) {
    & {
      margin-top: 80px;
    }
    &::before {
      left: -40px;
    }
  }

  @media screen and (max-width: 750px) {
    &::before {
      display: none;
    }
  }

  @media screen and (max-width: 576px) {
    margin-top: 233px;
  }
}

.keywords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 0 360px;

  width: 100%;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.12) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  li {
    list-style-type: none;
    font-weight: 100;
    font-size: 10px;
    color: var(--light-color);
  }
  @media screen and (max-width: 1440px) {
    & {
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 768px) {
    /* & li {
      display: none;
    }
    & li:nth-child(-n + 9) {
      display: list-item;
    } */
    & li:nth-last-child(-n + 6) {
      display: none;
    }
  }

  @media screen and (max-width: 576px) {
    & {
      margin-top: 10px;
    }

    & li:nth-last-child(-n + 11) {
      display: none;
    }
  }
}

.about {
  background-color: var(--light-color);
  padding-top: 80px;
}

.about__title {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: var(--darck-color);

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.about__text {
  width: 1100px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 40px;
  color: var(--darck-color);
  span {
    color: #a5a5a5;
  }
  @media screen and (max-width: 1440px) {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.services {
  display: flex;
  margin-top: 80px;
  @media screen and (max-width: 768px) {
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 40px;
  }
}

.services__items {
  width: 50%;

  ul {
    margin-top: 20px;
    padding: 0;
  }

  li {
    position: relative;
    margin-top: 10px;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--darck-color);

    &:first-child::before {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      background: url(../icons/camera.svg) center center / cover no-repeat;
      left: -30px;
      top: 2px;
    }

    &:nth-child(3):before {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      background: url(../icons/edit.svg) center center / cover no-repeat;
      left: -30px;
      top: 2px;
    }
  }
  @media screen and (max-width: 768px) {
    & {
      width: 100%;
    }
    & li:first-child::before {
      left: -25px;
    }
    & li:nth-child(3):before {
      left: -25px;
    }
  }
}

.services__text {
  width: 50%;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--darck-color);
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.services__items-subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: var(--darck-color);

  @media screen and (max-width: 768px) {
    padding-top: 40px;
  }
}

.works {
  padding-top: 80px;
  background: var(--light-color);
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
}

.works__grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 1, 5fr;
  /* grid-template-rows: repeat(2, 463px) 700px; */
  column-gap: 30px;
  row-gap: 50px;
  display: grid;
  margin-top: 50px;

  img {
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    /* height: 100%;
    object-fit: cover; */
  }
  @media screen and (max-width: 768px) {
    column-gap: 20px;
    row-gap: 30px;
    margin-top: 40px;
  }

  @media screen and (max-width: 567px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr) 1, 5fr;
    /* grid-template-rows: repeat(2, 463px) 700px; */
    column-gap: 0px;
    row-gap: 30px;
    display: grid;
    margin-top: 50px;
  }
}

.inspiration {
  padding-top: 80px;
  background-color: var(--light-color);
}

.title__start {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: var(--darck-color);
}

.inspiration__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
  img {
    width: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px 20px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
    /* 2.1 и 0.5 значения были получены, если разделить 
        высоту этого изображения на высоту стандартного изображения */
    grid-template-rows: repeat(3, 1fr) 2.1fr 1fr 0.5fr;
    column-gap: 0px;
    row-gap: 20px;
  }
}

#tenement {
  grid-row: 1/3;
  grid-column: 4/5;
  @media screen and (max-width: 1200px) {
    grid-row: 2/4;
    grid-column: 2/3;
  }
  @media screen and (max-width: 576px) {
    grid-row: auto;
    grid-column: auto;
  }
}

#sky {
  grid-column: 2/4;
  @media screen and (max-width: 1200px) {
    grid-column: 1/3;
  }
  @media screen and (max-width: 576px) {
    grid-column: auto;
  }
}

&::selection {
  color: #000;
  background-color: #a5a5a5;
}

.customers {
  padding-bottom: 100px;
  padding-top: 80px;
  background-color: var(--light-color);
}

.customer__wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  img {
    box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
    /* 
    width: calc((100% - 90px) / 4); */
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 88px var(--container-padding-inline);
  background-color: #000;

  font-weight: 400;
  font-size: 20px;
  color: var(--light-color);
}

.footer__tel {
  color: var(--light-color);
  text-decoration: none;
}

.footer__addr {
  font-style: normal;
}

.footer__social {
  padding-left: 0;
  column-gap: 30px;
  display: flex;
  list-style: none;

  li {
    width: 32px;
    height: 32px;
    color: var(--light-color);
    border: 1px solid var(--light-color);

    a {
      width: 100%;
      height: 100%;
      color: #fff;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      /* img {
        width: 22px;
        height: 22px;
      } */
    }
  }
}
